<!DOCTYPE html>
<html>
  <head>
    <title>MusicPanel</title>
    <link rel="icon" href="https://musicboard.app/v8/favicon.ico">
    <%# <link rel="shortcut icon" href="https://musicboard.app/v8/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="https://musicboard.app/v8/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://musicboard.app/v8/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://musicboard.app/v8/favicon/apple-touch-icon.png">
    <link rel="mask-icon" href="https://musicboard.app/v8/favicon/safari-pinned-tab.svg" color="#f0b600"> %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
